.DS_Store
.node-version
.npmrc
.env
.env.*
*.log
*.pyc
npm-debug.log*
.yarn*
.pnpm-store
/node_modules
/.wrangler
/.cache
/dist
/build
/out
/coverage
/tmp
/reader_seo_indexes
/reader_lang_indexes
**/__pycache__/
/books/content/[0-9]*/
/books/content/manual/[0-9]*/
