body.cover {
	margin: 0px;
	oeb-column-number: 1;
	padding: 0px;
}

svg.cover-svg {
	height: 100%;
	width: 100%;
}

.z {
	font-family: 'Times New Roman', serif;
	margin-right: 8pt;
}

.p {
	margin: 0px;
	text-align: justify;
	text-indent: 1.5em;
}

.empty-line {
	height: 1em;
	margin: 0px;
}

.image {
	padding: 3px;
	text-align: center;
}

.z1 {
	max-width: 95%;
}

@font-face {
	font-family: 'Times New Roman';
	font-style: italic;
	font-weight: normal;
	src: url(fonts/Times-New-Roman-400-Italic-187ceef9-f75d-48a1-bd7a-d90a50a88fb6.otf);
}

@font-face {
	font-family: 'Times New Roman';
	font-style: normal;
	font-weight: normal;
	src: url(fonts/Times-New-Roman-400-187ceef9-f75d-48a1-bd7a-d90a50a88fb6.otf);
}

@font-face {
	font-family: 'Times New Roman';
	font-style: normal;
	font-weight: bold;
	src: url(fonts/Times-New-Roman-700-187ceef9-f75d-48a1-bd7a-d90a50a88fb6.otf);
}

